$theme-colors: (
  "primary": #0091ea //Covalence Blue!  :D,,
);

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  min-width: 100%;
  position: relative;
  background-color: rgb(171, 99, 99);
}

#homeMainDiv {
  z-index: 3;
  background-color: white;
  border: 0.5rem outset;
  box-shadow: 0 0 2rem rgb(111, 38, 38);
  animation: Appear 2s;
}

#aboutDiv {
  z-index: 3;
  position: relative;
  margin-top: 5rem;
  animation: Appear 2s;
}

#homeHeader {
  font-size: 6rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#homeCityName {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.navLines {
  background-color: black;
  height: 2px;
  width: 3rem;
  margin: 5px 0;
}

#nav:hover {
  cursor: pointer;
}

#navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  padding: 1rem;
  margin: auto;
  top: 0;
  width: 100%;
  z-index: 5;
  background-color: white;
  box-shadow: 0 0 2rem rgb(111, 38, 38);
}

#navHeader {
  animation: Appear 2s;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 100;
  align-self: stretch;
}

@keyframes Appear {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

#navLinks {
  z-index: 4;
  position: absolute;
  top: 15vh;
  right: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#navDivHome,
#navDivAbout,
#navDivXp {
  width: 8rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(70, 70, 70);
  opacity: 0%;
  transition: opacity 1s;
  margin: 1rem 0;
  border-right: 2px white;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  box-shadow: 0 0 0.5rem white;
}

@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
