$theme-colors: (
  "primary": #0091ea //Covalence Blue!  :D,,,,,,,
);

#appMain {
  // background: url("../../assets/IMG-0681.JPG");
  overflow-y: auto;
}

#homeMainDiv {
  animation: Appear 2s;
}

#workOne {
  animation: Appear 2s;
}
#workTwo {
  animation: Appear 3s;
}
#workThree {
  animation: Appear 4s;
}

#aboutDiv {
  animation: Appear 2s;
  // background-image: linear-gradient(to bottom right, #1B1B1B, #8D8C8C);
}

#homeHeader {
  font-size: 6rem;
  font-weight: 300;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#homeCityName {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 100;
}

// #menuIcon, #arrowIcon {

// }

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#menuIcon:hover,
#arrowIcon:hover {
  cursor: pointer;
}

#nav-list {
  overflow: hidden;
  transition: height 1s;
  height: 0px;
}

#arrowIcon {
  display: none;
}

#navHeader {
  animation: Appear 2s;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 100;
  align-self: stretch;
}

@keyframes Appear {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

.cardlist {
  font-weight: 100;
}

@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
